<div class="container">

  <div class="main_photo">
    <a href="/photos/<%= @random_photo.id %>">
      <h2><%= @random_photo.title %></h2>
      <img src="<%= @random_photo.photo_url %>" />
    </a>

  </div>  <!--end of main photo div -->

  <div class="thumbnails">
    <% @photos.each do |photo| %>
      <a href="/photos/<%= photo.id %>"><img src="<%= photo.photo_url %>" /></a>
    <% end %>

  </div>  <!--end of thumbnails div -->



</div>  <!--end of container div -->
